.like_icon {
    width: 25px;
    float: right;
}

.product_pricetag {
    font-size: 25px;
    display: inline;
}

.product_section {
    width: 250px;
    height: 350px;
    padding: 10px;
}

main {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    font-family: "Quicksand", sans-serif;
    flex-wrap: wrap;
}

.product_image {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
}

.product_desc {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}